.body {
 background-color: cadetblue;
}
.accordion {
    width: auto;
    Margin: 0;
    cursor: pointer;
    text-align: center;
    transition: 2s;

    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 4px 4px #6f3857;
} 
  .panel {
    padding: 0 18px;
    display: none;
    background-color: #6f3857;
    overflow: hidden;
  }